.media-heading > small {
    padding-left: 10px;
}

#main-ul {
    padding: 100px;
}

.media {
    padding: 15px;
    border: 1px solid #d5dae2;
}

.media-left {
}

.media-body {
}

.media-heading {
    padding-bottom: 5px;
}

.media-right {
    padding-left: 10px;
    border-left: 1px double  #d5dae2;
}

.btn.btn-default {
    text-align: center;
}

.glyphicon.glyphicon-trash {
}
